<p id="notice"><%= notice %></p>

<p>
  <strong>Headlines:</strong>
  <%= @news_datum.headlines %>
</p>

<p>
  <strong>Description:</strong>
  <%= @news_datum.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @news_datum.category %>
</p>

<%= link_to 'Edit', edit_news_datum_path(@news_datum) %> |
<%= link_to 'Back', news_data_path %>
